* {    
    margin: 0;
    padding: 0;
}

.header {
    height: 40px;
    width: 100%;
    background-color: #fdd9e3;
    position: fixed;
    z-index: 1;
}

.stuff {
    display: inline-block;
    margin-top: 60px;
    margin-left: 80px;
    width: 75%;
    height: 800px;
}

.left {
    height: 1000px;
    width: 40px;
    background-color: #fdd9e4;
    float: left;
    position: fixed;
}

.right {
    height: 1000px;
    width: 40px;
    background-color: #fdd9e4;
    float: right;
    position: inherit;
}

#title {
    margin-left: 3%;
}

.footer {
    height: 40px;
    width: 100%;
    background-color: #fdd9e4;
    clear: both;
    position: relative;
}

p, li, h1 {
    font-family: Arial;
}

.head {
    font-size: 20px;
}

.name {
    font-family: Arial;
    float: right;
    margin-top: 10px;
    margin-right: 4px;
}

a {
    color: black;
    text-decoration: none;
}

@media only screen and (max-width: 430px) {
    .left,
    .right{
        display: none;
}

.stuff {
    width: 100%;
    margin-left: 10px;
}
}